root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{sh,bash}]
indent_style = space
indent_size = 2

[*.sh.tmpl]
indent_style = space
indent_size = 2

[*.bats]
indent_style = space
indent_size = 2
