[Desktop Entry]
Version=1.0
Name=Work Terminal
Comment=Terminal with work theme
Exec=sh -c -- "alacritty --class AlacrittyWork --config-file $HOME/.config/alacritty/alacritty-work.toml"
Terminal=false
Type=Application
Icon=utilities-terminal
Categories=System;TerminalEmulator;
StartupNotify=false
